.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hero__detail {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* margin: auto; */
  height: 87vh;
  overflow: hidden;
}
.hero__detail__data {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50vw;
  background-color: #f4f4f4;
  padding: 1rem 0 0 0;
}
.hero__detail__data img {
  height: 20rem;
  width: auto;
}
.hero__detail_data__summary {
  width: 60%;
}
.hero__detail__comics {
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 1rem;
  width: 50vw;
  justify-items: center; */
  /* display: flex;
  flex-direction: row;
  align-items: center; */
  width: 50vw;
}

.hero__comic-related {
  display: none;
}
.hero__comic-related--show {
  display: block;
}
